# Custom brackets open

snippet brackets "auto close brackets"
{$1}$0
endsnippet

snippet bracketsNewLine "auto close brackets with new line"
{
	$1
}
$0
endsnippet

snippet quotationMarks "auto close quotation"
"$1"$0
endsnippet
